#eclipse
/bin
/.settings
/.classpath

#In case people make their workspace in the repo
/eclipse/

#idea
/.idea
*.iml

#gradle
/build
/.gradle

#occupational hazards
/projects/Clean/
/projects/Forge/logs/
/projects/Forge/config/
/projects/Forge/.settings/
/projects/Forge/.idea/
/projects/Forge/saves/
/projects/Forge/options.txt
/projects/Forge/logs/
/projects/projects.iml
/projects/projects.ipr
/projects/projects.iws
/repo/
/buildSrc
/projects/.gradle/
/projects/Forge/build/
/projects/.idea/
/projects/Forge/config/
/projects/Forge/logs/
/projects/Forge/.classpath
/projects/Forge/.project
/projects/Forge/Forge Client.launch
/projects/Forge/Forge Server.launch
/projects/Forge/options.txt

/projects/Forge/usercache.json
/projects/Forge/usernamecache.json
/projects/Forge/*.hprof
/projects/Forge/crash-reports/
/projects/Forge/build.gradle
*.hprof

#Patch rejects
*.rej
/patches-/

# FML changelog
changelog.txt
/patches_old/
/patches_old_bak/
*.py
*.7z
