#eclipse
/bin
/.settings
/.classpath

#In case people make their workspace in the repo
/eclipse/

#idea
/.idea
*.iml

#gradle
/build
/.gradle

#occupational hazards
/projects/Clean/
/projects/.idea
/projects/projects.ipr
/repo/
/buildSrc

#Patch rejects
*.rej
/patches-/

# FML changelog
changelog.txt
/patches_old/
/patches_old_bak/
*.py
*.7z

/projects/run/

/MCForge/.vscode/
/MCForge/projects/Clean/
/MCForge/projects/.idea/
/MCForge/projects/.git/
/MCForge/build/

MCForge/.vscode/
MCForge/projects/Clean/
MCForge/projects/.idea/
MCForge/projects/.git/
MCForge/build/

OptifineSource/
/OptifineSource/
*.log
client/projects/Forge/optionsoffalcun.txt
